header{
    background-color: white;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 25px;
    text-align: center;
}
body{
    background-color: E5E5E5;
    color: #78363F;
    
}
button {
    background-color: #717071;
    color: white;
    width: 150;
    height : 40;
    margin-left:50%;
    margin right:50%;

}
table{
    margin-left:30%;
    margin right:50%;


}